@import "../output.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #101415;
}

::selection {
    color: white;
    background: #d4a26f;
}

.Toastify__toast {
    font-size: 16px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}